body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: white;
    background: black url("bg.jpg") 100% no-repeat fixed;
    background-position-x: center;
}

div{
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    animation: appearFloat 3s forwards;
}

a{
    color: white;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

#header{
    margin: auto;
    text-align: center;
    width: 50%;
    height: 19vh;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 50px;
    font-size: 2vw;
    font-weight: bold;
}

#headerExpansion{
    margin: auto;
    text-align: center;
    width: 50%;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 2vw;
    font-weight: bold;
    opacity: 1;
    max-height: 170px;
    animation: borderExpansion 1s forwards;
}

#lista{
    visibility: hidden;
}

#listaExpansion{
    opacity: 0;
    animation: appear 1s ease .3s forwards;
}

#title, .aInfo{
    transition: color .4s ease-in-out;
}

#title:hover, .aInfo:hover{
    cursor: pointer;
    color: red;
}

#disclaimer{
    font-size: 25px;
}

.aInfo{
    text-align: justify;
}

#drzewo{
    position: relative;
    top: 20px;
    width: 80%;
    margin: auto;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    animation: 3s appear forwards;
    opacity: 0;
}

#schemat{
    width: 95%;
}

#placeholder{
    visibility: hidden;
    height: 70px;
}

footer{
    position: fixed;
    padding-top: 10px;
    bottom: 0;
    font-size: 30px;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #8A9BA5;
}

#footerp{
    box-shadow: inset 0 0 0 0 white;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    color: white;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#footerp:hover{
    box-shadow: inset 160px 0 0 0 white;
    color: #8A9BA5;
}

#authors{
    margin: auto;
    text-align: center;
    width: 50%;
    padding: 20px 0 20px 0;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 50px;
    font-size: 3vw;
    font-weight: bold;
    line-height: 10vh;
    margin-top: 40px;
    animation: appear 3s forwards;
}

.author{
    transition: letter-spacing .5s ease-in-out;
}

.author:hover{
    letter-spacing: 10px;
}

@keyframes appearFloat{
    100%{
        opacity: 1;
        margin-top: 20px;
    }
}

@keyframes appear{
    100%{
        opacity: 1;
    }
}

@keyframes borderExpansion{
    100%{
        max-height: 1200px;
    }
}