body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: white;
    background: black url("bg.jpg") 100% no-repeat fixed;
    background-position-x: center;
}

div{
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    animation: 3s appearnfloat forwards;
}

a{
    color: white;
    text-decoration: none;
}

#header{
    margin: auto;
    text-align: center;
    width: 1000px;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 50px;
    font-size: 40px;
    font-weight: bold;
}

#drzewo{
    position: relative;
    top: 20px;
    margin: auto;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    animation: 3s appear forwards;
    opacity: 0;
}

#schemat{
    width: 1474px;
    height: 2339px;
}

footer{
    margin-top: 60px;
    padding-top: 10px;
    font-size: 30px;
    clear: both;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: #8A9BA5;
}

#autorzy{
    box-shadow: inset 0 0 0 0 white;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    color: white;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

#autorzy:hover{
    box-shadow: inset 160px 0 0 0 white;
    color: #8A9BA5;
}

#authors{
    margin: auto;
    text-align: center;
    width: 1000px;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 50px;
    font-size: 50px;
    font-weight: bold;
    line-height: 85.5px;
    margin-top: 40px;
    animation: appear 3s forwards;
}

#laczak{
    color: rgb(245, 169, 182);
}

@keyframes appearnfloat {
    100% {
        opacity: 1;
        margin-top: 20px;
    }
}

@keyframes appear {
    100% {
        opacity: 1;
    }
}