body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    color: white;
    background: black url("bg.jpg") 100% no-repeat fixed;
    background-position-x: center;
}

div{
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    animation: 3s appearnfloat forwards;
}

#header{
    margin: auto;
    text-align: center;
    width: 1000px;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 50px;
}

#title{
    font-size: 40px;
    font-weight: bold;
}

#drzewo{
    position: relative;
    top: 20px;
    margin: auto;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    animation: 3s appear forwards;
    opacity: 0;
}

@keyframes appearnfloat {
    100% {
        opacity: 1;
        margin-top: 20px;
    }
}

@keyframes appear {
    100% {
        opacity: 1;
    }
}